@import url("/fonts/fonts.css");

:root {
  --font-family: inter;
}
* {
  font-family: var(--font-family);
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  @apply text-lightBlack dark:text-gray-300 lg:text-sm text-xs bg-[#FaFaFa] dark:bg-gray-800;
}
#__nuxt {
  height: 100%;
}
input,
textarea,
select {
  @apply focus:outline-none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
